<%
  const initials = (name || '?').split(' ').map(w => w[0]).slice(0, 2).join('').toUpperCase();
  const sizeClass = size === 'lg' ? 'avatar-lg' : (size === 'sm' ? 'avatar-sm' : '');
%>
<div class="avatar <%= sizeClass %>">
  <% if (typeof photo !== 'undefined' && photo) { %>
    <img src="<%= photo %>" alt="<%= name %>">
  <% } else { %>
    <%= initials %>
  <% } %>
</div>
